////https://www.quora.com/How-can-I-get-a-free-subscription-to-Pluralsight
//https://www.youtube.com/watch?v=PTiXbraC5n8
body{
	background-image: url('/Users/sandeepmukherjee/Google Drive/codes/weather app/images/default1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: white;
	text-shadow: 2px 2px 1px black;
}
.container{
	height: 100vh;
	display: flex; 
	align-items: center; 
	justify-content: center;
}
#weatherContainer{
	display: flex;
	justify-content: center;
	background-color: rgba(0,0,0,0.25);
	box-shadow: 1px 1px 5px black;
	padding: 50px;
	border-radius: 10px;
	position: absolute;
	visibility:hidden;
}
#weatherContainer h1{
	margin: 5px;
	font-size: 42px;
}
#searchContainer{
	width: 180vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	/*padding: 15px;*/
	position: absolute;
	top: 0;
	right: 0;
}
#searchContainer input{
	width: 200px;
}
#searchContainer button{
	background-color: rgb(1,159,198);
	width:75px;
}
.searchControl{
	box-shadow: 2px 2px 5px black;
	border: none;
	border-radius: 5px;
	padding: 5px;
}
#weatherMain{
	display: block;
	margin-bottom: 20px;
}
#weatherMain div{
	display: inline-block;
}
#weatherDescriptionHeader{
	font-size: 28px;
	vertical-align: 50%;
}
#temperature{
	font-size: 38px;
	vertical-align: 25%;
}
.bottomDetails{
	display: block;
	font font-size: 24px;
	text-align: right;
}
hr{
	margin-bottom: 20px;
}
